<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/files.ejs") %>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div style ="padding-left:1em;">
        <a href="/"><button class="btn btn-outline-primary">Home Page</button></a>
    </div>
    <div class="editMain">
        <div class ="editSubMain">
            <form method="post" action="/<%= oneCountry._id%>?_method=PUT">
                <div class="labelEdit">
                    <label class ="editLabel">Country: <br><input class="input-group-text" type="text" name="countryName" value="<%=oneCountry.countryName%>"  /></label><br>
                    <label class ="editLabel">Capital: <br><input class="input-group-text" type="text" name="capitalCity"value="<%=oneCountry.capitalCity%>" /></label><br>
                    <label class ="editLabel">Population: <br><input class="input-group-text" type="number" name="population" value="<%=oneCountry.population%>" /></label><br>
                    <label class ="editLabel">Image: <br><input class="input-group-text" type="text" name="flagImageUrl" value="<%=oneCountry.flagImageUrl%>" /></label><br>
                    <label class ="editLabel"> IsDeveloped: <input type="checkbox" name="developedCountry" <%=oneCountry.developedCountry ? "checked": "" %> /></label><br>
                </div>
                    <input class="btn btn-outline-primary" type="submit"  value="Edit"/>
            </form>
        </div>
    </div>


</body>
</html>