<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/files.ejs") %>
    <style>
  
           
    </style>

</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class = "indexMain">
        <a href="/new"><button class="btn btn-success" id ="indexButton">Add New Country</button></a>

         <div class="image-container">
            <% allCountries.forEach((country, index)=>{%>
                <a href="/show/<%= country._id%>">  
                    <img class ="indexImg"src="<%= country.flagImageUrl %>" alt="Image">
                    <h3 style="text-align: center; color: #07eb53;"><%= country.countryName%></h3>
                </a> 
               <% })%>
        </div>

    </div>
    
</body>
</html>